.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-branding {
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
}
.home-container1 {
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-hero {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1008px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/screenshot%202024-03-01%20171729-1100h.png");
}
.home-container3 {
  height: fit-content;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  grid-template-columns: auto auto;
}
.home-description {
  width: 100%;
  height: fit-content;
  padding: var(--dl-space-space-threeunits);
  background-color: #2483BB;
  border-top-width: 1px;
}
.home-text {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-featured {
  padding: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-color: #151515;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-container4 {
  gap: var(--dl-space-space-threeunits);
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-image {
  width: 30%;
  height: min-content;
  object-fit: cover;
}
.home-header1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-services {
  gap: var(--dl-space-space-fourunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-header2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 1px;
}
.home-grid {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
.home-service {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.home-title3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.home-service1 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.home-title4 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.home-service2 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.home-title5 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.home-service3 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.home-title6 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.home-service4 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.home-title7 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.home-service5 {
  gap: var(--dl-space-space-twounits);
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.home-title8 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.home-details {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home-header3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-branding1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.home-value {
  color: rgb(21, 21, 21);
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  text-decoration: none;
}
.home-container7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-value1 {
  color: rgb(21, 21, 21);
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.home-location {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-value2 {
  color: rgb(21, 21, 21);
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.home-location1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-value3 {
  color: rgb(21, 21, 21);
  font-size: 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
@media(max-width: 1600px) {
  .home-container2 {
    justify-content: flex-end;
  }
  .home-hero {
    width: 100%;
    height: 850px;
  }
  .home-container3 {
    grid-template-columns: auto;
  }
  .home-description {
    width: 90%;
  }
  .home-grid {
    grid-template-columns: auto auto auto;
  }
}
@media(max-width: 1200px) {
  .home-container2 {
    justify-content: flex-end;
  }
  .home-hero {
    width: 100%;
    height: 650px;
  }
  .home-grid {
    grid-template-columns: auto auto;
  }
  .home-value {
    color: rgb(21, 21, 21);
  }
  .home-value1 {
    color: rgb(21, 21, 21);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
  }
  .home-value2 {
    color: rgb(21, 21, 21);
  }
  .home-value3 {
    color: rgb(21, 21, 21);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
  }
}
@media(max-width: 991px) {
  .home-hero {
    width: 100%;
    height: 500px;
  }
  .home-text {
    gap: var(--dl-space-space-unit);
  }
  .home-header {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-header1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-header2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-top-width: 1px;
  }
  .home-title3 {
    font-size: 18px;
    line-height: 16px;
  }
  .home-service1 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-title4 {
    font-size: 18px;
    line-height: 16px;
  }
  .home-service2 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-title5 {
    font-size: 18px;
    line-height: 16px;
  }
  .home-service3 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-title6 {
    font-size: 18px;
    line-height: 16px;
  }
  .home-service4 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-title7 {
    font-size: 18px;
    line-height: 16px;
  }
  .home-service5 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-title8 {
    font-size: 18px;
    line-height: 16px;
  }
  .home-details {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-branding1 {
    font-size: 14px;
  }
  .home-value {
    font-size: 16px;
    line-height: 24px;
  }
  .home-value1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-value2 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-value3 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .home-hero {
    width: 100%;
    height: 400px;
  }
}
@media(max-width: 479px) {
  .home-hero {
    width: 100%;
    height: 250px;
  }
  .home-services {
    padding: var(--dl-space-space-unit);
    grid-template-columns: auto;
  }
  .home-grid {
    grid-template-columns: auto;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
}
